---
layout: page
lang: en
title: "Physics Matters Lecture Series"
teaser: "Public Physics night, brought to you by the McGill University Department of Physics"
sidebar: right
permalink: "/lectures/"
header:
  image_fullwidth: "20170504_lecture_banner.jpg"
---
The physics department at McGill also hosts the <a href="{{ site.baseurl }}/mcpherson">Anna I. McPherson public lecture series</a>, which brings distinguished physicists to McGill to give both technical and public lectures, as well as <a href="http://www.astromcgill.ca/astronight.php">public astro nights</a>.

{% capture now-unix-seconds %}{{ 'now' | date: '%s' }}{% endcapture %}

  {% for event in site.events %}
  {% if event.type == "lecture" %}
    {% capture event-time-seconds %}{{event.event-date | date: '%s' }}{% endcapture %}
    {% if event-time-seconds >= now-unix-seconds %}
    <div class="row">
      <div class="small-12 columns b60">
        <p class="subheadline">{{ event.categories | join: ' &middot; ' | prepend: '<span class="subheader">' | append: '</span>' }}{% if event.categories != empty and event.subheadline != NULL %} – {% endif %}{{ event.subheadline }}</p>
        <h2><a href="{{ site.url }}{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a></h2>
        <p>
          {% if event.image.thumb %}<a href="{{ site.url }}{{ site.baseurl }}{{ event.url }}" title="{{ event.title }}"><img src="{{ site.urlimg }}{{ event.image.thumb }}" class="alignleft" width="150" height="150" alt="{{ event.title }}"></a>{% endif %}

          {% include lang-date date=event.event-date lang=event.lang%}<br>

          {% if event.meta_description %}
            {{ event.meta_description | strip_html | escape }}
          {% else %}
            {{ event.speaker | strip_html | escape }}
          {% endif %}

          <a href="{{ site.url }}{{ site.baseurl }}{{ event.url }}" title="{{ site.data.language.read }} {{ event.title }}"><strong>{{ site.data.language.read_more }}</strong></a>
        </p>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
    {% endif %}
    {% endif %}
  {% endfor %}

  <p><a class="button tiny radius" href="{{ site.baseurl }}/past-lectures">Past Lectures</a></p>
