<div id="navigation" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1 class="show-for-small-only"><a href="{{ site.url }}{{ site.baseurl }}/{{ site.index[page.lang] }}" class="icon-tree"> {{ site.title }}</a></h1>
    </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Nav</span></a></li>
    </ul>
    <section class="top-bar-section">
{% comment %}

    ____  _       __    __     _   __            _             __  _
   / __ \(_)___ _/ /_  / /_   / | / /___ __   __(_)___ _____ _/ /_(_)___  ____
  / /_/ / / __ `/ __ \/ __/  /  |/ / __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
 / _, _/ / /_/ / / / / /_   / /|  / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
/_/ |_/_/\__, /_/ /_/\__/  /_/ |_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/
        /____/                                 /____/
(language switcher)
{% endcomment %}

      <ul class="right">
        {% comment %}Find default language {% endcomment %}

        {% for lang in site.data.languages %}
          {% if lang.default %}{% assign default = lang.short %}{% endif %}
        {% endfor %}
        {% comment %}Build language switcher {% endcomment %}
        {% for lang in site.data.languages %}
          {% if page.lang == lang.short %}
            {% assign pageurl = page.url %}
          {% elsif page.layout == 'event' %}
            {% assign urlparts = page.url | split: "/" %}
        	  {% assign old_folder = "/" | append: urlparts[1] %}
            {% if lang.short == default %}
              {% assign langcode = "_" | append: page.lang %}
              {% assign langcode_reverse = langcode | split: "" | reverse | join: "" %}
              {% assign folder_reverse = old_folder | split: "" | reverse | join: "" | remove_first: langcode_reverse %}
        	    {% assign folder = folder_reverse | split: "" | reverse | join: "" %}
            {% else %}
              {% assign langcode = "_" | append: lang.short %}
              {% assign folder = "/" | append: urlparts[1] | append: langcode %}
            {% endif %}
        	  {% assign pageurl = page.url | remove_first: old_folder | prepend: folder %}
          {% elsif page.homepage %}
            {% assign pageurl = site.data.navigation[0].url[lang.short] %}
          {% else %}
            {% assign url_reverse = page.url | split: "" | reverse | join: "" | remove_first: "/" %}
            {% if page.lang == default %}
              {% assign urlpart = url_reverse | split: "" | reverse | join: "" %}
            {% else %}
              {% assign urllang = url_reverse | slice: 0, 3 %}
              {% assign urlpart = url_reverse | remove_first: urllang | split: "" | reverse | join: "" %}
            {% endif %}
            {% if lang.default %}
              {% assign pageurl = urlpart | append: '/' %}
            {% else %}
              {% assign pageurl = urlpart | append: '_' | append: lang.short | append: '/'%}
            {% endif %}
          {% endif %}

          <li class="divider"></li>
          <li{% if page.lang == lang.short %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ pageurl }}">{{ lang.short | escape }}</a></li>

        {% endfor %}
      </ul>
{% comment %}

    __         ______     _   __            _             __  _
   / /   ___  / __/ /_   / | / /___ __   __(_)___ _____ _/ /_(_)___  ____
  / /   / _ \/ /_/ __/  /  |/ / __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
 / /___/  __/ __/ /_   / /|  / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
/_____/\___/_/  \__/  /_/ |_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/
                                          /____/

{% endcomment %}
      <ul class="left">
        {% for link in site.data.navigation %}

              {% if link.url[page.lang] contains 'http' %}
                {% assign domain = '' %}
              {% elsif link.url[page.lang] == '#' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url %}
              {% endif %}

          {% comment %}   If there are links for left side begin   {% endcomment %}
          {% if link.side == 'left' %}

            {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
            {% if link.dropdown == nil %}
              <li{% if link.url[page.lang] == page.url %} class="active"{% elsif page.homepage == true and link.url[page.lang] == '/' %} class="active"{% endif %}><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url[page.lang] }}"{% if link.url[page.lang] contains 'http' %} target="_blank"{% endif %}>{{ link.title[page.lang] | escape }}</a></li>
              <li class="divider"></li>

            {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
            {% else %}

              <li class="has-dropdown{% if link.url[page.lang] == page.url %} active{% endif %}">
                <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ link.url[page.lang] }}"{% if link.url[page.lang] contains 'http' %} target="_blank"{% endif %}>{{ link.title[page.lang] | escape }}</a>

                  <ul class="dropdown">
                    {% for dropdown_link in link.dropdown %}

                      {% if dropdown_link.url[page.lang] contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                      {% endif %}

                      <li><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url[page.lang] }}"{% if dropdown_link.url[page.lang] contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title[page.lang] | escape }}</a></li>
                    {% endfor %}
                  </ul>

              </li>
              <li class="divider"></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% comment %}   Second loop finished   {% endcomment %}

      </ul>
    </section>
  </nav>
</div><!-- /#navigation -->
