<aside>
	<div class="panel radius">
		<h3>Join us for cutting edge science!</h3>
		<p>
			The Montreal general public has a choice of several science lecture series, yet – with the exception of Astronight – none regularly feature physical science topics. To fill this physics gap, the McGill Department of Physics outreach programme has created the new “Physics Matters” series (“La physique dans toutes ses états”) at a level where people with little or no science background can follow.
		</p>
		<p>
			At 7pm on (usually) the first Thursday of each month, exciting new developments will be presented: quantum and high energy physics; nonlinear, geo, bio and nano physics; low temperatures, high temperatures; fast; small.
		</p>
		<p>
			This event is free of charge and no registration is required. Seats are assigned on a first come first come basis.
		</p>
	</div>

</aside>
