<aside>
	<div class="panel radius">
		{% comment %} French version {% endcomment %}
		{% if lang == 'fr' %}
			<h3>Découvrez la science de pointe avec nous !</h3>
			<p>
				Le groupe de vulgarisation du département de Physique de l’université McGill vous présente une série de conférences publiques «La physique dans tous ses états»! Ces conférences sont ouvertes à tous ceux qui sont intéressés à apprendre plus sur les recherches en physique actuelles - aucune connaissance scientifique est requise. Que vous soyez un(e) passionné(e) de science ou que vous ayez récemment développé un intérêt pour la physique, nous vous invitons à nous rejoindre pour découvrir la science de pointe avec les experts de recherche.
			</p>
			<p>
				Les conférences sont tenues à 19h, habituellement le premier jeudi de chaque mois. On explorera la nanotechnologie, la physique des particules aux hautes énergies, la physique non-linéaire, la biophysique et beaucoup plus !
			</p>
			<p>
				Cet évènement est gratuit et ne nécessite pas de l’enregistrement. Les sièges sont assignés selon le principe du premier arrivé, premier servi. Les conférences sont données en anglais. Accessible aux fauteuils roulants.
			</p>

		{% comment %} English version (default) {% endcomment %}
		{% else %}
			<h3>Join us for cutting edge science!</h3>
			<p>
			The Physics Matters outreach group in the McGill Department of Physics presents the Physics Matters public lecture series!  These lectures are aimed at anyone who wants to learn more about current physics topics - no science background is necessary. Whether you are a long-time science enthusiast, or have developed a new interest in physics, we invite you to join us to learn about cutting edge science from the experts doing the research!
			</p>
			<p>
			The lectures are held at 7pm, usually on the first Thursday of each month. We will explore nanotechnology, high energy particle physics, nonlinear physics, biophysics, and more!
			</p>
			<p>
			This event is free of charge and no registration is required. Seats are assigned on a first come first serve basis.
			</p>
		{% endif %}

    <p>
		  <ul class="inline-list social-icons">
		    {% for social_item in site.data.socialmedia %}
			    <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
		    {% endfor %}
	    </ul>
	  </p>
	</div>

</aside>
